RewriteEngine On
RewriteRule FantaApp/.* https://cantirsi.altervista.org/FantaApp/index.php
RewriteRule fantaapp/.* https://cantirsi.altervista.org/FantaApp/index.php



RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.(xml|txt|css|js|php)$
RewriteRule ^(.+)$ FantaApp/index.php [QSA,L]