#av_toolbar_regdiv, #av_toolbar_iframe, .av_site, .av-antipixel {display: none!important;} 
body {top: -40px!important; background-image: url('etc/background.png');}

.wrap {
	padding: 4em;
}
.action-link{
   margin-right:0.3rem;
   margin-bottom:0.3rem;
    padding: 0.3rem;
    font-size:1.2rem;
}
.action-link:hover{
    background-color: #4a4aa4;
}